NODE_ENV=development
PORT=3010
APP_EXTERNAL_PORT=3010
APP_NAME=aponika-auth

DB_HOST=localhost
DB_PORT=5436
DB_USER=aponika_auth
DB_PASSWORD=change_me
DB_NAME=aponika_auth
DB_SSL=false
DB_EXTERNAL_PORT=5436

CORS_ORIGINS=http://localhost:3011,http://localhost:3012
